body {
  background: #121212;
}

.App {
  padding: 10px;
  text-align: center;
}

h3 {
  font-size: calc(14px + 2vmin);
  font-family: Helvetica, Arial, Sans-serif;
  color: #F4FEFD;
}

section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  background-color: #393a3a;
  padding: 10px;
  font-weight: 600;
  border-radius: 16px;
  margin: 10px;
}

p{
  margin: 6px auto;
}

