.App {
  padding: 10px;
  text-align: center;
  background-color: #acacac;
}

h3 {
  font-size: calc(14px + 2vmin);
  color: rgb(64, 62, 62);
}

.element-card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  background-color: #5a5555 ;
  padding: 10px;
  font-weight: 600;
  border-radius: 16px;
  margin: 10px;
}

span{
  margin: 10px auto;
}

